In [1]:
from biomarker_rank import biomarker_rank
from DataLoader import Load_Labeling

Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.8/site-packages (0.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from sklearn) (1.1.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.9.1)
Requirement already satisfied: lightgbm in /opt/conda/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from lightgbm) (1.18.5)
Requirement already satisfied: wheel in /opt/conda/lib/python3.8/site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /opt/conda/lib/python3.8/site-packages (from lightgbm) (1.1.2)
Requirement already satisfied: scipy in /opt/conda/lib/python3.8/site-packages (from lightgbm) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Requirement already satisfied: xgboost in /opt/conda/lib/python3.8/site-packages (1.6.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from xgboost) (1.18.5)
Requirement already satisfied: scipy in /opt/conda/lib/python3.8/site-packages (from xgboost) (1.9.1)

In [2]:
file_name = 'data'
cancer_name = ['LUAD', 'LUSC']

data = Load_Labeling(file_name, cancer_name)

cancer : LUAD
file : LUAD.txt
cancer : LUSC
file : LUSC.txt

In [3]:
rank, importance = biomarker_rank(data, models = [['RF', 'default'],['XGB' , {'colsample_bytree': 0.5, 'n_estimators': 200, 'subsample': 0.75}]])

In [4]:
rank

                    RF  XGB
?|100130426       2099  172
?|100133144       2099  172
?|100134869       2099   98
?|10357            736   69
?|10431           2099  172
...                ...  ...
ZYX|7791          2099  172
ZZEF1|23140       2099  172
ZZZ3|26009        2099  172
psiTPTE22|387590  2099  172
tAKR|389932       2099  172

[20531 rows x 2 columns]

In [5]:
importance

                        RF       XGB
?|100130426       0.000000  0.000000
?|100133144       0.000000  0.000000
?|100134869       0.000000  0.000720
?|10357           0.000153  0.001565
?|10431           0.000000  0.000000
...                    ...       ...
ZYX|7791          0.000000  0.000000
ZZEF1|23140       0.000000  0.000000
ZZZ3|26009        0.000000  0.000000
psiTPTE22|387590  0.000000  0.000000
tAKR|389932       0.000000  0.000000

[20531 rows x 2 columns]